.motion {
    position: absolute;
    height: 3px;
    width: 50px;
    margin:10px 20px;
    z-index: 2;
    opacity: 0;
    border: 3px solid #fff;
    background: transparent;
    -webkit-animation: right-to-left 1s ease-in;
    -moz-animation: right-to-left 1s ease-in;
    animation: right-to-left 1s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes bottom-to-top {
    0% {-webkit-transform: scale(1);opacity: 0.0;top:100%;}
    10% {-webkit-transform: scale(1);opacity: 0.1;top:90%;}
    20% {-webkit-transform: scale(1);opacity: 0.3;top:80%;}
    30% {-webkit-transform: scale(1);opacity: 0.5;top:70%;}
    40% {-webkit-transform: scale(1);opacity: 0.6;top:60%}
    50% {-webkit-transform: scale(1);opacity: 0.7;top:50%;}
    60% {-webkit-transform: scale(1);opacity: 0.6;top:40%;}
    70% {-webkit-transform: scale(1);opacity: 0.5;top:30%;}
    80% {-webkit-transform: scale(1);opacity: 0.3;top:20%;}
    90% {-webkit-transform: scale(1);opacity: 0.1;top:10%;}
    100% {-webkit-transform: scale(1);opacity: 0.0;top:0%;}
}
@-webkit-keyframes top-to-bottom {
    0% {-webkit-transform: scale(1);opacity: 0.0;top:0%;}
    10% {-webkit-transform: scale(1);opacity: 0.1;top:10%;}
    20% {-webkit-transform: scale(1);opacity: 0.3;top:20%;}
    30% {-webkit-transform: scale(1);opacity: 0.5;top:30%;}
    40% {-webkit-transform: scale(1);opacity: 0.6;top:40%}
    50% {-webkit-transform: scale(1);opacity: 0.7;top:50%;}
    60% {-webkit-transform: scale(1);opacity: 0.6;top:60%;}
    70% {-webkit-transform: scale(1);opacity: 0.5;top:70%;}
    80% {-webkit-transform: scale(1);opacity: 0.3;top:80%;}
    90% {-webkit-transform: scale(1);opacity: 0.1;top:90%;}
    100% {-webkit-transform: scale(1);opacity: 0.0;top:100%;}
}
@-webkit-keyframes left-to-right {
    0% {-webkit-transform: scale(1);opacity: 0.0;left:0%;}
    10% {-webkit-transform: scale(1);opacity: 0.1;left:10%;}
    20% {-webkit-transform: scale(1);opacity: 0.3;left:20%;}
    30% {-webkit-transform: scale(1);opacity: 0.5;left:30%;}
    40% {-webkit-transform: scale(1);opacity: 0.6;left:40%}
    50% {-webkit-transform: scale(1);opacity: 0.7;left:50%;}
    60% {-webkit-transform: scale(1);opacity: 0.6;left:60%;}
    70% {-webkit-transform: scale(1);opacity: 0.5;left:70%;}
    80% {-webkit-transform: scale(1);opacity: 0.3;left:80%;}
    90% {-webkit-transform: scale(1);opacity: 0.1;left:90%;}
    100% {-webkit-transform: scale(1);opacity: 0.0;left:100%;}
}
@-webkit-keyframes right-to-left {
    0% {-webkit-transform: scale(1);opacity: 0.0;right:0%;}
    10% {-webkit-transform: scale(1);opacity: 0.1;right:10%;}
    20% {-webkit-transform: scale(1);opacity: 0.3;right:20%;}
    30% {-webkit-transform: scale(1);opacity: 0.5;right:30%;}
    40% {-webkit-transform: scale(1);opacity: 0.6;right:40%}
    50% {-webkit-transform: scale(1);opacity: 0.7;right:50%;}
    60% {-webkit-transform: scale(1);opacity: 0.6;right:60%;}
    70% {-webkit-transform: scale(1);opacity: 0.5;right:70%;}
    80% {-webkit-transform: scale(1);opacity: 0.3;right:80%;}
    90% {-webkit-transform: scale(1);opacity: 0.1;right:90%;}
    100% {-webkit-transform: scale(1);opacity: 0.0;right:100%;}
}